* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --moderate-blue: #5457b6;
    --soft-red: #ed6468;
    --light-grayish-blue: #c3c4ef;
    --pale-red: #ffb8bb;
    --dark-blue: #324152;
    --grayish-blue: #67727e;
    --light-gray: #eaecf1;
    --very-light-gray: #f5f6fa;
    --white: #ffffff;
}


body {
    background-color: var(--very-light-gray);
    height: 100vh;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}




/* Development and debugging only */

/* body>* {
    opacity: .8;
}

body::after {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background: url("./design/desktop-design.jpg");
       background-repeat: no-repeat;
    animation: myflicker ease-in-out alternate  infinite 1s;
}
@keyframes myflicker {
    from {
        opacity: .1;
    }
    to {
        opacity: .9;
    }
} 
 */




.content {
    max-width: 730px;
    margin: 60px auto 60px auto;
    position:relative;
}


.comments{
    width:100%;
overflow:hidden;

   
}


.comment {
    display: grid;
    width: 100%;
    background: white;
    margin-bottom: 30px;
    padding-bottom:10px;
    grid-template-columns: 60px auto 200px;
    grid-template-rows: 70px auto auto;
    grid-template-areas:
        "score author buttons"
        "score text text"
        ". text text"
    ;

    animation:entry .5s ease forwards;
}

@keyframes entry {
   from{transform:translateY(-120vh)} 
   to{transform:none;}
}

.comment.reply{
    margin-left:20%;
    width:80%;
    position: relative;
}

.comment.reply::before{
content:"";
position:absolute;
left:-100px;
top:0px;
height:100%;
width:2px;
background-color: var(--light-gray);
}

.comment.reply + .comment.reply::before {
    top:-30px;
}

.author {
    grid-area: author;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
   
    margin-left: 32px;
}



.author>img {
    border-radius: 50%;
    width: 30px;

}

.author-name {
    margin: 0 15px;
    font-weight: 800;
}

.buttons {
    grid-area: buttons;
    display: flex;
    flex-direction: row;
    align-items: center;

}

.buttons>* {
    width: 100px;
   text-decoration: none;
}

.button-delete {
    color: var(--soft-red);
}

.button-reply, .button-edit {
    color: var(--moderate-blue);
}
.button-delete:hover{
    color:var(--pale-red)
}
.button-reply:hover, .button-edit:hover{
    color:var(--light-grayish-blue)
}

.scoreboard {


    grid-area: score;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.scoreboard>div {
    background-color: var(--light-gray);
    color: var(--grayish-blue);
    padding: 6px 0;
    width: 30px;
    height: 34px;
    text-align: center;
    font-weight: 600;
    font-size: 1.2em;

}
.scoreboard>div:nth-child(odd):hover{
    border-radius: 50%;
    background-color: var(--grayish-blue);
    color:var(--very-light-gray)
}



.text {

    grid-area: text;
    margin: 7px 32px;
}


.getinput{
    display: grid;
    width: 100%;
    background: white;
    margin-bottom: 30px;
    padding:20px 0;
    grid-template-columns: 60px auto 120px;
    grid-template-rows:  minmax(100px, auto ) ;  
   align-items: top;
}
.getinput > img{
    border-radius: 50%;
    width: 50px;
}
.getinput > textarea{
min-height:100px;
vertical-align: top;
padding:5px 10px 50px 10px;
font-size:16px;
border:2px var(--light-gray) solid;
border-radius:5px;
outline:none;
}

.getinput > .submit{
padding:14px;
background-color: var(--moderate-blue);
border-radius:6px;
margin:0 20px;
height:50px;
color:white;
text-align: center;
cursor: pointer;
}
.getinput > .submit:hover{
    opacity:.5;
}



.mymodal{
    display:none;
position:fixed;
z-index: 9999998;
left:0;
top:0;
width:100%;
height:100%;
overflow:auto;
background-color: rgba(0,0,0,.3);
justify-content: center;
align-items:center;


}
.mymodalbox{
    z-index: 9999999;
border:1px solid var(--grayish-blue);
border-radius: 5px;
background-color: white;
width:300px;
padding:20px;
font-size: 12px;
}
.mymodalbox > h2 {
    margin-bottom:20px;
}

.modalbuttons{
    display:flex;
    flex-direction: row;
justify-content: space-between;
align-items: center;
margin-top:30px;
}
.modalbuttons >* {
width:100px;
padding:10px;
border-radius: 5px;
background-color: var(--grayish-blue);
text-align: center;
color:white;
font-weight:500;
cursor: pointer;
}
.modalbuttonno:hover{
    background-color: var(--light-gray);
    color:black;
}
.modalbuttondelete{
    background-color: var(--soft-red);
}
.modalbuttondelete:hover{
    background-color: var(--pale-red);
    color:black;
}

/*   Media Enquiry for Mobile */

@media screen and (max-width: 700px) {


.content{
    margin: 5%;
}

.comment{
    grid-template-areas:
        "author author author"
        "text text text"
        "score buttons buttons " ;
        grid-template-columns: auto auto auto;
        grid-template-rows: 50px auto auto;
}
.comment.reply{
    margin-left:15%;
}

.comment.reply::before{
    left:-30px;
}

.scoreboard{
    flex-direction: row;
}
.scoreboard >div{
    width:30px;
    font-size:.8em;
}

.buttons{
    justify-content: flex-end;
    text-align: right;
}
.buttons>*{
    width:fit-content;
    margin:0 5px;
}

.getinput{
grid-template-columns: 60px auto 120px;
}

.getinput > .submit{
    margin:10px ;
    padding:5px;
    width:80px;
}
  }